<div class="container">
  <h1 class="mb-4">Places</h1>

  <ul class="list-group">
    <% @places.each do |place| %>
      <li class="list-group-item">
        <%= link_to place.name, place_path(place), class: "text-decoration-none fw-bold" %>
      </li>
    <% end %>
  </ul>

  <div class="mt-3">
    <%= link_to "New Place", new_place_path, class: "btn btn-primary" %>
  </div>
</div>